@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <p> 
    Marshall (Building Contractors) Ltd was established in 1969 and is a wholly owned subsidiary of Marshall Holdings Ltd. <br /> <br />
    The Company undertakes all aspects of construction throughout the whole of the United Kingdom. We have a healthy <br />
    financial position that continues to grow, focusing on our clients personal requirements for their specific project. <br />
    We continue to focus on securing projects with our existing nucleus of core clients, whilst tendering or negotiating <br />
    with new clients and their respective agents for other projects. <br /> <br />
    Marshall (Building Contractors)Ltd have a vast knowledge of varying contract types from design and build, negotiated, <br />
    partnering, traditional, to full turnkey contracts. We can accommodate to suit each individual requirement. <br /> <br />
    Our attention to Quality, Environment and Safety issues has enabled the company to be awarded <br />
    accreditation in ISO 9001, 14001 & OHSAS 18001. <br /> <br />
    Our experience and knowledge, enables us to plan calmly and positively to the clients requirements and targets.
    </>
    </p>
