<h3 class="header">Job List</h3>

<ul class="job-list box">
    <li>
        <div class="priority"><span>Priority</span><span class="number">1</span></div>

        <div class="job-details">
            <p class="client-job-number">Client Job # <span class="number">3511928</span></p>
            <h1><span class="mbc-job-number">#396</span> - <span class="job-title">Leicester Markfield</span></h1>
            <p class="order-type"><span class="label">Order Type</span><span ="info">CAPEX</span></p>
            <p class="order-status"><span class="label">Status</span><span ="info">Quote/Uplift</span></p>
        </div>
        <div class="action">
            <a class="button" href="job-view">Update</a>
        </div>
        <div class="clearfix"></div>
    </li>
    <li>
        <div class="priority"><span>Priority</span><span class="number">1</span></div>

        <div class="job-details">
            <p class="client-job-number">Client Job # <span class="number">3511928</span></p>
            <h1><span class="mbc-job-number">#396</span> - <span class="job-title">Leicester Markfield</span></h1>
            <p class="order-type"><span class="label">Order Type</span><span ="info">CAPEX</span></p>
            <p class="order-status"><span class="label">Status</span><span ="info">Quote/Uplift</span></p>
        </div>
        <div class="action">
            @Html.ActionLink("Update", "ViewJob", null, new {@class="button" })
        </div>
        <div class="clearfix"></div>
    </li>
    <li>
        <div class="priority"><span>Priority</span><span class="number">1</span></div>

        <div class="job-details">
            <p class="client-job-number">Client Job # <span class="number">3511928</span></p>
            <h1><span class="mbc-job-number">#396</span> - <span class="job-title">Leicester Markfield</span></h1>
            <p class="order-type"><span class="label">Order Type</span><span ="info">CAPEX</span></p>
            <p class="order-status"><span class="label">Status</span><span ="info">Quote/Uplift</span></p>
        </div>
        <div class="action">
            <a class="button" href="job-view">Update</a>
        </div>
        <div class="clearfix"></div>
    </li>
</ul>