@model IEnumerable<MBCFM.Models.Job>

<article class="job-view box">

    <div class="priority"><span>Priority</span><span class="number">1</span></div>
    <div class="title">
        <p class="client-job-number">Client Job # <span class="number">3511928</span></p>
        <h1><span class="mbc-job-number">#396</span> - <span class="job-title">Leicester Markfield</span></h1>
    </div>
    <div class="details">
        <div class="">
            <p class="site-tel"><span class="label">Site Tel No</span><span ="info">08719846083</span></p>
            <p class="order-type"><span class="label">Order Type</span><span ="info">CAPEX</span></p>
            <p class="order-status"><span class="label">Status</span><span ="info">Quote/Uplift</span></p>
        </div>
        <div>
            <p class="half">Sub Contractor <strong>Kevin Daley</strong></p>
            <p class="half">Entered by <strong>Craig Leech</strong></p>
            <span class="clearfix"></span>
        </div>
        <div>
            <h4>Problem</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>

            <h4>Notes</h4>
            <p>Only show if has notes?</p>
        </div>
    </div>

    <div class="form">

        <div class="half">
            <label>Arrival Time</label>
            <input type="date" />
        </div>
        <div class="half">
            <label>Depature Time</label>
            <input type="date" />
        </div>
        <div>
            <label>Materials Used</label>
            <textarea></textarea>
        </div>
        <div>
            <label>Costs Of Materials Purchased</label>
            <textarea></textarea>
        </div>
        <div>
            <label>Materials Required</label>
            <textarea></textarea>
        </div>
        <div class="half">
            <label>Work Completed</label>

        </div>
        <div class="half">
            <label>Duration Require to complete</label>
            <input type="text" />
        </div>
        <span class="clearfix"></span>

    </div>

    <div class="action">
        <a class="button" href="job-view.html">Update</a>
    </div>

    <a class="big button" href="job-view.html">
        <h4>Resolve</h4>
        <p>Will close this job and send to Help Desk</p>
    </a>

    <div class="clearfix"></div>
</article>
